<h1>Botones</h1>
<app-button  [background]="'primary'" >PRIMARY</app-button>&nbsp;
<app-button  [background]="'secondary'" >SECONDARY</app-button>&nbsp;
<app-button  [background]="'warning'" >WARNING</app-button>&nbsp;
<app-button  [background]="'success'" >SUCCESS</app-button>
<br>
<br>
<h1>Inputs</h1>
<br>
Input1
<app-input [background]="'primary'">
</app-input>
Input2
<app-input [background]="'secondary'">
</app-input>
Input3
<app-input [background]="'warning'">
</app-input>
<br>
<br>
<h1>Header</h1>
<br>
<app-header>
  <div class="header-logo">
      <img class="header-logo-img" src="./../../../../assets/resources/logo/simplehc-logo.png"/>
      <div class="header-logo-title">
          <h3><strong>SimpleHC</strong></h3>
          <p>License admin</p>
      </div>
  </div>

  <div class="header-actions">
    <app-button  [background]="'primary'" >Atrás</app-button>
  </div>
</app-header>
<br>
