
.formulario{
max-width: 500px;
}
form .label-w
{

min-width: 65px;
display: flex;

font-family: Arial, Helvetica, sans-serif;

}
.divboton{
  display: flex;
  justify-content: center; /* Centra el botón horizontalmente */
  align-items: center; /* Centra el botón verticalmente */

}
.button-back{
  background-color: violet;
  color: white;
}
header button{
  background-color: violet;
  color: white;
}
